.Projects {
  padding: 3rem 0;
  background-color: #d7ffff;
}

.Project_Title {
  text-align: center;
}

.Main_Title {
  font-size: 5rem;
  text-decoration: underline;
  text-decoration-color: rgb(0,255,255);
}

.Period_Mark {
  color: rgb(58, 120, 213);
}

h2 {
  font-style: italic;
  font-variant: small-caps;
}

h5 {
  margin-left: 1rem;
  margin-top: 1rem;
}

.Image {
  width: 4rem;
  height: 2rem;
}

.Project1 {
  margin-top: 3.5rem;
  width: 100%;
  height: 50vh;
}

.Content {
  padding: 3rem 0;
  border-bottom: 1px solid;
}
